<ion-item>
  <h4>
    Calendario
  </h4>
  <ion-select slot="end" #year size="small" (ngModelChange)="getTemporada(year.value)"
                                            [(ngModel)]="anio">   
    <ion-select-option >2020</ion-select-option>
    <ion-select-option >2021</ion-select-option>
    <ion-select-option >2022</ion-select-option>
  </ion-select>
</ion-item>

<ion-grid *ngIf="temporadas">
  <ion-row class="titulos">
    <ion-col size="1">
      edit
    </ion-col>
    <ion-col size="3">
      <ion-label>
        Nombre
      </ion-label>
    </ion-col>
    <ion-col size="2">  
      <ion-label>
        Finicio
      </ion-label>
    </ion-col>
    <ion-col size="2">
      <ion-label>
        FFin
      </ion-label>
    </ion-col>
    <ion-col size="1">
      <ion-label>
        Ano
      </ion-label>
    </ion-col>
    <ion-col size="1">
      <ion-label>
        P.Base
      </ion-label>
    </ion-col>
    <ion-col size="1">
      <ion-label>
        Pre L..J,D
      </ion-label>
    </ion-col>
    <ion-col size="1">
      <ion-label>
        Pre V,S
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let temp of temporadas.temporada; let i = index">
    <ion-col size="1">
      <ion-item (click)="updateTemp(temp.item)">
        <ion-icon size="small" 
                name="create-outline"></ion-icon>  
      </ion-item>
    </ion-col>
    <ion-col size="3">
      <ion-label> {{ temp.nombre }} </ion-label>
    </ion-col>
    <ion-col size="2">
      <ion-label> {{ temp.fdesde | fechas }}</ion-label>
    </ion-col>
    <ion-col size="2">
      <ion-label> {{ temp.fhasta | fechas }}</ion-label>    
    </ion-col>
    <ion-col size="1">
      <ion-label>{{ temporadas.year}} </ion-label>
    </ion-col>
    <ion-col size="1">
      <ion-label> {{ temp.precioBase }} </ion-label>
    </ion-col>
    <ion-col size="1">
      <ion-label>{{ temp.precioSemana }}</ion-label>
    </ion-col>
    <ion-col size="1">
      <ion-label>{{ temp.precioFSemana }}</ion-label>
    </ion-col>
    
  </ion-row>
</ion-grid>
