<h2>
  update works!
</h2>
<ion-header>
  <ion-toolbar>Datos de usuario</ion-toolbar></ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Id</ion-label>
      <ion-input [(ngModel)]="usuario._id"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="usuario.nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input [(ngModel)]="usuario.email"></ion-input>
    </ion-item>
    <ion-item class="carrusel" *ngIf="usuario.imgs">
      <ion-icon slot="end" id="foto" color="success" (click)="logo()" name="checkmark-circle-outline"></ion-icon>
      <ion-icon color="danger" (click)="delete()" slot="end" name="trash-outline"></ion-icon>
    </ion-item>
    <ion-item>  
      <ion-slides #testSlider pager="true"  (ionSlideDidChange)="slideChanged()">
        <ion-slide class="image-slide" *ngFor="let foto of usuario.imgs" >
                <img [src]="foto | viewImage: usuario._id"> 
        </ion-slide>
      </ion-slides>
    </ion-item>
      <!--
    </ion-item>
    <ion-slides pager="true">
      <ion-slide class="image-slide" *ngFor="let img of usuario.imgs" 
                [style]="img | domSanitizer">
      </ion-slide>
      
    </ion-slides>
  -->
  </ion-list>
  
  
</ion-content>
<ion-row>
  <ion-col>
    <ion-item>
        <ion-icon size="large" color="primary" name="camera-outline" (click)="hacerFoto()">camara</ion-icon>
      <ion-icon size="large" name="image-outline" (click)="galeria()">Galeria</ion-icon>
      <ion-icon size="large" color="success"  (click)="update()"
                slot="end" name="checkmark-circle"></ion-icon>
    </ion-item>
    

  </ion-col>
</ion-row>
<ion-row>
  <ion-item *ngIf="foto">
    <div class="card">
      <div class="header">
        <img class="avatar" [src]="foto">
      </div>
    </div>
  </ion-item>
</ion-row>